<h1>Editing hockey team</h1>

<%= render "form", hockey_team: @hockey_team %>

<br>

<div>
  <%= link_to "Show this hockey team", @hockey_team %> |
  <%= link_to "Back to hockey teams", hockey_teams_path %>
</div>
